name: Build & Test interface-sys

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure
      run: cmake -B ${{github.workspace}}/build -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=ON -DCMAKE_VERBOSE_MAKEFILE=ON
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config Release
    - name: Test
      run: ctest -C Release